# Trying to fit a multilayer deep learning model with pytorch

## Preparing data first in the most direct way

In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [9]:
from matplotlib import pyplot as plt

df_train = pd.read_csv('/kaggle/input/titanic/train.csv')
df_test = pd.read_csv('/kaggle/input/titanic/test.csv')
df_all = pd.concat([df_train, df_test])
df_train.name = 'Training Set'
df_test.name = 'Test Set'
df_all.name = 'All Set'
df_all.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
46,938,NaN,1,"Chevre, Mr. Paul Romaine",male,45.0,0,0,PC 17594,29.7000,A9,C
60,61,0.0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
242,1134,NaN,1,"Spedden, Mr. Frederic Oakley",male,45.0,1,1,16966,134.5000,E34,C
444,445,1.0,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
264,1156,NaN,2,"Portaluppi, Mr. Emilio Ilario Giuseppe",male,30.0,0,0,C.A. 34644,12.7375,NaN,C

In [10]:
def prepare_features_basic(data):
  # missing values
  data.loc[data['Age'].isna(), 'Age'] = data['Age'].mode()[0].item()
  data.loc[data['Embarked'].isna(), 'Embarked'] = data['Embarked'].mode().item()
  data['Fare'].fillna(data['Fare'].mode().item())
  # Cabin: no need as we do delete it
  # categorical
  data = pd.get_dummies(data, columns = ['Sex', 'Pclass', 'Embarked'])
  # useless columns
  data = data.drop(['Cabin', 'Name', 'Ticket', 'PassengerId'], axis = 1)
  # numerical
  data['Age'] /= data['Age'].max() 
  data['SibSp'] /= data['SibSp'].max()
  data['Parch'] /= data['Parch'].max()
  data['Fare'] = np.log1p(data['Fare'])
  data['Fare'] /= data['Fare'].max()
  return data

In [11]:
def prepare_features_initial(data):
  # missing values
  f_age_mean = data.loc[(~data['Age'].isna()) & (data['Sex'].str.contains("female")), 'Age'].mean()
  data.loc[(data['Age'].isna()) & (data['Sex'].str.contains("female")), 'Age'] = f_age_mean  
  m_age_mean = data.loc[(~data['Age'].isna()) & (data['Sex'].str.contains("male")), 'Age'].mean()
  data.loc[(data['Age'].isna()) & (data['Sex'].str.contains("male")), 'Age'] = m_age_mean  
  data['Age'] = data['Age'].astype(float)
  
  data.loc[data['PassengerId'] == 62, 'Embarked'] = 'S'
  data.loc[data['PassengerId'] == 830, 'Embarked'] = 'S'
  
  r = data.loc[(data['Pclass'] == 3) & (data['Embarked'].str.contains('S')) & (data['SibSp'] == 0) & (data['Parch'] == 0), 'Fare'].mode().item()
  data.loc[data['PassengerId'] == 1044, 'Fare'] = r
  # Cabin: no need as we do delete it
  # categorical
  data = pd.get_dummies(data, columns = ['Sex', 'Pclass', 'Embarked'])
  # useless columns
  data = data.drop(['Cabin', 'Name', 'Ticket', 'PassengerId'], axis = 1)
  # numerical
  data['Age'] /= data['Age'].max() 
  data['SibSp'] /= data['SibSp'].max()
  data['Parch'] /= data['Parch'].max()
  data['Fare'] = np.log1p(data['Fare'])
  data['Fare'] /= data['Fare'].max()
  return data

In [12]:
def prepare_features_medium(data):
  # missing values
  f_age_mean = data.loc[(~data['Age'].isna()) & (data['Sex'].str.contains("female")), 'Age'].mean()
  data.loc[(data['Age'].isna()) & (data['Sex'].str.contains("female")), 'Age'] = f_age_mean  
  m_age_mean = data.loc[(~data['Age'].isna()) & (data['Sex'].str.contains("male")), 'Age'].mean()
  data.loc[(data['Age'].isna()) & (data['Sex'].str.contains("male")), 'Age'] = m_age_mean  
  data['Age'] = data['Age'].astype(float)
  
  data.loc[data['PassengerId'] == 62, 'Embarked'] = 'S'
  data.loc[data['PassengerId'] == 830, 'Embarked'] = 'S'
  
  r = data.loc[(data['Pclass'] == 3) & (data['Embarked'].str.contains('S')) & (data['SibSp'] == 0) & (data['Parch'] == 0), 'Fare'].mode().item()
  data.loc[data['PassengerId'] == 1044, 'Fare'] = r
  # Cabin: no need as we do delete it

  # we combine SibSp and Parch to measure the family size including the passenger
  data['Family'] = 1 + data['SibSp'] + data['Parch']
  # categorical
  data = pd.get_dummies(data, columns = ['Sex', 'Pclass', 'Embarked'])
  # useless columns
  data = data.drop(['Cabin', 'Name', 'Ticket', 'PassengerId', 'SibSp', 'Parch'], axis = 1)
  # numerical
  data['Age'] /= data['Age'].max() 
  data['Family'] /= data['Family'].max()
  data['Fare'] = np.log1p(data['Fare'])
  data['Fare'] /= data['Fare'].max()
  return data

In [13]:
df_all = prepare_features_medium(df_all)

In [14]:
df_train = df_all.iloc[:891]
df_train_y = df_train['Survived']
df_train_x = df_train.drop(['Survived'], axis=1)

df_test = df_all.iloc[891:]
df_train.tail(5)

,Survived,Age,Fare,Family,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
886,0.0,0.337500,0.422864,0.090909,0,1,0,1,0,0,0,1
887,1.0,0.237500,0.550238,0.090909,1,0,1,0,0,0,0,1
888,0.0,0.358589,0.512205,0.363636,1,0,0,0,1,0,0,1
889,1.0,0.325000,0.550238,0.090909,0,1,1,0,0,1,0,0
890,0.0,0.400000,0.347554,0.090909,0,1,0,0,1,0,1,0

In [15]:
df_test.head()

,Survived,Age,Fare,Family,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,NaN,0.43125,0.348997,0.090909,0,1,0,0,1,0,1,0
1,NaN,0.58750,0.333195,0.181818,1,0,0,0,1,0,0,1
2,NaN,0.77500,0.379604,0.090909,0,1,0,1,0,0,1,0
3,NaN,0.33750,0.363449,0.090909,0,1,0,0,1,0,0,1
4,NaN,0.27500,0.414494,0.272727,1,0,0,0,1,0,0,1

## Now fitting a deep learning model

In [16]:
import torch
import torch.nn.functional as F

train = torch.tensor(df_train_x.values, dtype=torch.float)
labels = torch.tensor(df_train_y.values, dtype=torch.float)
# no bias because we do hot encoding rather than dummy 
train.shape

torch.Size([891, 11])

In [17]:
def compute_preds(coeffs, x):
    layer1, layer2, bias = coeffs
    a = F.relu(x @ layer1)
    return torch.sigmoid(a @ layer2 + bias)

In [18]:
def compute_loss(coeffs, x, y):
    #preds = compute_preds(coeffs, x)
    #return torch.where(y == 1.0, 1.0 - pracosheds, preds).sum()
    return torch.abs(compute_preds(coeffs, x) - y).mean()
    #return torch.square(compute_preds(coeffs, x) - y).mean()

In [19]:
def upgrade_coeffs(coeffs, rate):
    layer1, layer2, bias = coeffs
    layer1.sub_(layer1.grad * rate)
    layer2.sub_(layer2.grad * rate)
    layer1.grad.zero_()
    layer2.grad.zero_()

In [20]:
def run_epoch(weights, x, y, rate):
    loss = compute_loss(weights, x, y)
    loss.backward()
    with torch.no_grad():
        upgrade_coeffs(weights, rate)
    print(f"{loss:.3f}", end="; ")

In [21]:
def init_coeffs(n_coeff=11, n_hidden=20):
    layer1 = (torch.rand(n_coeff, n_hidden) - 0.5) / n_hidden
    layer1.requires_grad_()
    layer2 = (torch.rand(n_hidden) - 0.3)
    layer2.requires_grad_()
    bias = torch.rand(1)[0]
    return layer1, layer2, bias

In [22]:
def train_model(epochs=30, lr=0.01):
    weights = init_coeffs(11, 6)
    #weights.retain_grad()
    for e in range(epochs):
            run_epoch(weights, train, labels, lr)
    return weights

In [23]:
def accuracy(coeffs, x, y):
    with torch.no_grad():
        preds = compute_preds(coeffs, x)
    return ((preds > 0.5) == y.bool()).float().mean()

In [24]:
parameters = train_model(30, 20)

0.517; 0.483; 0.282; 0.245; 0.215; 0.214; 0.212; 0.206; 0.201; 0.204; 0.196; 0.197; 0.193; 0.190; 0.190; 0.190; 0.190; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189; 0.189;

In [25]:
accuracy(parameters, train, labels)

tensor(0.8114)

* (60, 1.5) gives 0.7789 accuracy
* (100, 2) with 6 at layer2 gives 0.7856 accuracy
* (30, 20) with 6 at layer2 gives 0.8114 accuracy

In [34]:
def show_coeffs():
    with torch.no_grad():
        s = dict(zip(df_train_x.columns, parameters))
    return s
show_coeffs()

{'Age': tensor([[-1.4323e-02, -2.9022e-02,  3.4873e-02,  4.6406e-03,  3.7359e-01,
           4.3627e-01],
         [-5.8772e-02,  4.2331e-01,  1.9351e-01, -5.1008e-02,  1.8011e-01,
           2.0542e-01],
         [ 6.1150e-02, -2.1003e-01, -1.3281e-01,  3.6732e-02,  3.9257e-01,
           4.5976e-01],
         [-4.9601e-02,  2.0249e+00,  8.2987e-01, -7.0441e-02, -1.0872e+00,
          -1.2184e+00],
         [-3.4694e-02, -1.1837e+00, -6.4436e-01, -1.2772e-02,  1.6602e+00,
           1.8430e+00],
         [-7.7039e-02,  7.2195e-01,  4.4201e-01, -1.8166e-02, -3.0351e-01,
          -3.0585e-01],
         [-7.2480e-02,  6.2737e-01,  3.0788e-01,  8.4944e-02, -3.1845e-01,
          -3.5587e-01],
         [-5.0681e-02, -5.5741e-01, -5.8352e-01, -2.9140e-02,  1.2298e+00,
           1.3528e+00],
         [ 2.5018e-02,  5.7611e-01,  2.2140e-01, -4.5541e-02, -1.1120e-01,
          -1.9117e-01],
         [ 4.7014e-04,  5.3119e-01,  4.9335e-02, -5.1553e-03, -3.6559e-01,
          -4.0114e-01],
         [ 2.9184e-02, -4.1227e-01, -2.3250e-01, -1.1463e-02,  1.0741e+00,
           1.1768e+00]], requires_grad=True),
 'Fare': tensor([-0.2920,  2.3239,  0.8862, -0.0586, -2.1907, -2.4404],
        requires_grad=True),
 'Family': tensor(0.2469)}

In [35]:
with torch.no_grad():
    df_test_x = torch.tensor(df_test.drop(['Survived'], axis=1).values, dtype=torch.float)
    result = compute_preds(parameters, df_test_x)
result

tensor([1.5030e-06, 9.3238e-03, 1.8216e-03, 1.6067e-09, 1.3652e-02, 2.1642e-09,
        9.9562e-01, 1.8696e-06, 9.9261e-01, 1.1249e-09, 1.5222e-09, 1.4597e-06,
        9.9931e-01, 9.5134e-07, 9.9878e-01, 9.9992e-01, 3.5242e-03, 7.1585e-07,
        1.5048e-02, 9.8597e-01, 8.2163e-04, 2.3124e-09, 9.9923e-01, 1.8583e-03,
        9.9996e-01, 7.2960e-10, 9.9995e-01, 6.9102e-07, 1.6061e-06, 3.5087e-07,
        1.2920e-06, 1.9374e-06, 8.4999e-03, 9.4666e-03, 1.4942e-03, 7.5918e-07,
        1.8235e-02, 2.1906e-02, 1.6641e-09, 1.1645e-09, 3.6106e-07, 2.1313e-06,
        1.1703e-09, 9.9874e-01, 9.9883e-01, 1.7034e-09, 1.2842e-03, 1.6811e-06,
        9.9996e-01, 9.8924e-03, 1.8202e-06, 1.6427e-03, 9.9866e-01, 9.9814e-01,
        1.5353e-03, 9.1127e-07, 1.3468e-09, 1.7111e-09, 1.1574e-09, 9.9996e-01,
        2.0573e-09, 2.5838e-06, 2.0142e-09, 9.9589e-01, 1.1811e-03, 9.9884e-01,
        9.9591e-01, 1.3319e-06, 1.7932e-03, 9.9599e-01, 9.9588e-01, 1.8725e-09,
        1.8091e-02, 1.9016e-03, 9.9996e-01, 1.8774e-03, 1.5184e-09, 9.9806e-01,
        2.7220e-06, 9.9588e-01, 6.4450e-07, 5.4927e-07, 1.3602e-06, 1.5222e-09,
        3.9913e-03, 4.4392e-07, 9.9587e-01, 2.3441e-02, 9.9576e-01, 3.3962e-06,
        1.7292e-02, 1.5252e-09, 9.9878e-01, 1.5184e-09, 2.0626e-03, 1.7070e-09,
        9.9758e-01, 1.5503e-09, 2.2347e-02, 1.4082e-09, 9.9995e-01, 2.2203e-06,
        1.6811e-06, 1.6678e-09, 9.8884e-01, 1.3811e-09, 2.0655e-06, 1.6811e-06,
        1.5031e-09, 3.5683e-06, 1.1682e-03, 9.9576e-01, 9.9995e-01, 9.9585e-01,
        9.9830e-01, 5.8603e-07, 5.9041e-07, 2.2659e-02, 1.6546e-03, 9.9882e-01,
        9.9879e-01, 1.4039e-06, 9.9995e-01, 1.6053e-09, 1.6811e-06, 1.9562e-02,
        1.8319e-09, 9.9351e-01, 2.0521e-06, 1.7405e-09, 1.4418e-09, 1.0584e-03,
        7.5216e-03, 4.9306e-07, 1.1156e-09, 1.7460e-09, 6.2892e-07, 2.9907e-06,
        2.0846e-02, 2.6636e-10, 5.9693e-03, 9.9934e-01, 3.7360e-04, 2.5973e-06,
        1.5992e-06, 7.7290e-10, 1.9410e-06, 1.8244e-09, 2.1313e-06, 1.7274e-06,
        9.9995e-01, 5.7543e-07, 7.3713e-10, 9.7919e-03, 6.3698e-10, 1.7548e-09,
        9.9941e-01, 2.0827e-02, 1.5992e-06, 1.2473e-02, 9.9576e-01, 6.2951e-07,
        9.9875e-01, 1.5456e-09, 2.1009e-06, 1.2702e-02, 1.2211e-03, 8.0171e-10,
        9.9995e-01, 2.1425e-02, 1.5309e-09, 6.2156e-07, 1.3854e-09, 5.8190e-07,
        3.3737e-10, 9.9885e-01, 9.9895e-01, 8.3920e-04, 9.9817e-01, 9.9995e-01,
        2.7220e-06, 1.0139e-03, 9.9926e-01, 1.6811e-06, 9.9996e-01, 2.0921e-06,
        9.9878e-01, 1.4313e-09, 1.9206e-03, 2.1510e-06, 1.8829e-06, 2.1375e-06,
        1.5080e-09, 1.8725e-03, 2.8114e-06, 1.4126e-09, 2.1734e-03, 2.3411e-02,
        3.3012e-06, 1.8240e-02, 9.9587e-01, 1.9634e-09, 1.0519e-03, 9.9877e-01,
        3.1494e-06, 1.8379e-03, 9.9507e-01, 3.2244e-06, 9.9995e-01, 1.7042e-09,
        1.2570e-09, 1.5442e-09, 2.9102e-06, 9.9793e-01, 3.6034e-03, 1.4977e-06,
        9.9576e-01, 6.0555e-07, 9.9996e-01, 1.5184e-09, 9.9991e-01, 1.8678e-09,
        9.9870e-01, 1.8755e-09, 9.9995e-01, 9.8525e-01, 1.7893e-09, 9.9576e-01,
        1.0866e-09, 2.3634e-06, 3.1778e-06, 9.9921e-01, 1.6026e-09, 1.6775e-06,
        1.2147e-03, 1.9184e-09, 6.6859e-04, 7.3290e-07, 9.9860e-01, 9.9996e-01,
        9.9995e-01, 9.9818e-01, 8.5366e-04, 1.5224e-09, 7.6680e-10, 1.2452e-06,
        9.9884e-01, 1.2627e-06, 9.9882e-01, 9.8828e-01, 9.9871e-01, 1.9162e-09,
        1.6633e-03, 1.7079e-09, 1.3948e-09, 1.5309e-09, 1.6811e-06, 1.5841e-09,
        9.9874e-01, 1.8761e-09, 9.7814e-10, 1.8737e-09, 9.9872e-01, 2.2389e-02,
        1.5236e-03, 1.5222e-09, 3.4306e-06, 1.5309e-09, 1.8235e-02, 2.0331e-09,
        1.3021e-03, 1.6811e-06, 9.9996e-01, 9.9478e-01, 5.8194e-07, 9.9882e-01,
        2.9346e-06, 1.6349e-06, 2.1304e-06, 3.3798e-06, 2.0901e-02, 1.9556e-09,
        9.9576e-01, 9.9075e-01, 2.2297e-02, 1.3298e-09, 1.5388e-09, 1.7407e-06,
        5.8190e-07, 1.5184e-09, 2.0159e-06, 9.9561e-01, 5.8190e-07, 7.3504e-07,
        1.2845e-09, 1.6646e-09, 9.9992e-01, 3.5087e-07, 1.9677e-06, 1.5521e-09,
        1.4482e-09, 1.5345e-03, 1.5687e-06, 1.7242e-09, 9.9576e-01, 9.9760e-01,
        9.6633e-07, 2.4599e-09, 6.8812e-07, 1.0037e-02, 1.9858e-09, 6.9920e-07,
        1.5302e-09, 9.9483e-01, 9.9996e-01, 9.9590e-01, 8.1274e-04, 3.6272e-06,
        1.6269e-09, 2.0308e-06, 1.6678e-09, 6.5148e-07, 2.9907e-06, 1.9766e-06,
        9.9924e-01, 1.8122e-09, 9.9878e-01, 1.3048e-03, 2.1182e-06, 3.3643e-06,
        9.9806e-01, 1.4828e-03, 5.8194e-07, 9.8829e-01, 1.6258e-09, 2.1273e-06,
        2.5968e-06, 3.2680e-07, 2.7144e-06, 5.8190e-07, 3.7136e-06, 1.4529e-09,
        1.8658e-10, 9.9997e-01, 9.8029e-10, 2.4520e-02, 2.9907e-06, 9.8812e-01,
        3.1192e-06, 9.9884e-01, 9.9995e-01, 3.1494e-06, 2.8425e-06, 8.1146e-07,
        1.8499e-02, 1.3286e-06, 9.9793e-01, 1.5226e-09, 1.6811e-06, 1.4376e-02,
        2.6745e-10, 9.9992e-01, 9.9884e-01, 1.6067e-09, 9.9995e-01, 1.9206e-03,
        4.4391e-07, 2.2685e-02, 9.9995e-01, 1.5629e-03, 2.8550e-06, 9.9996e-01,
        2.1831e-06, 1.9577e-06, 9.9820e-01, 9.9996e-01, 1.3475e-02, 3.4193e-06,
        1.0780e-06, 7.6897e-10, 1.6811e-06, 1.8344e-06, 1.8640e-02, 1.8663e-02,
        2.7384e-06, 9.9865e-01, 1.7482e-09, 1.4415e-06, 2.0679e-06, 1.1379e-09,
        2.0955e-06, 9.9863e-01, 1.3913e-09, 1.8763e-06, 6.5817e-10, 9.9928e-01,
        1.9432e-06, 9.9995e-01, 1.8325e-09, 1.6346e-06, 9.9938e-01, 1.7647e-06,
        9.9995e-01, 2.6591e-06, 1.0622e-03, 1.9457e-03, 2.7564e-06, 7.7150e-04,
        9.9576e-01, 2.1462e-02, 9.9576e-01, 9.9994e-01, 1.8509e-02, 1.5184e-09,
        9.9996e-01, 1.2538e-09, 1.5184e-09, 3.4939e-07])

In [36]:
results = torch.where(result <= 0.5, 0.0, 1.0)
results

tensor([0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0.,
        0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 0.,
        0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
        0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0.,
        0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0.,
        0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
        1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 1.,
        0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0.,
        0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0.,
        0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
        0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0.,
        1., 0., 0., 0.])

In [37]:
results = pd.DataFrame(results)
results.columns = ['Survived']
results.head()

   Survived
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

In [38]:
df_submit = df_test.fillna(results)
df_submit.head()

,Survived,Age,Fare,Family,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,0.0,0.43125,0.348997,0.090909,0,1,0,0,1,0,1,0
1,0.0,0.58750,0.333195,0.181818,1,0,0,0,1,0,0,1
2,0.0,0.77500,0.379604,0.090909,0,1,0,1,0,0,1,0
3,0.0,0.33750,0.363449,0.090909,0,1,0,0,1,0,0,1
4,0.0,0.27500,0.414494,0.272727,1,0,0,0,1,0,0,1

In [39]:
df_submit = df_submit.drop(['Age', 'Family', 'Fare', 'Sex_female', 'Sex_male', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S'], axis=1)
df_submit['Survived'] = df_submit['Survived'].astype('int')
df_submit['PassengerId'] = (892 + df_submit.index) 
df_submit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     418 non-null    int64
 1   PassengerId  418 non-null    int64
dtypes: int64(2)
memory usage: 9.8 KB

In [40]:
df_submit.to_csv('/kaggle/working/20230526_titanic_preds_deepml_mae.csv', columns=['PassengerId', 'Survived'], header=True, index=False, sep=',')

In [41]:
!tail /kaggle/working/20230526_titanic_preds_deepml_mae.csv
!tail /kaggle/input/titanic/gender_submission.csv

1300,1
1301,0
1302,1
1303,1
1304,0
1305,0
1306,1
1307,0
1308,0
1309,0
1300,1
1301,1
1302,1
1303,1
1304,1
1305,0
1306,1
1307,0
1308,0
1309,0

scored **0.7488** worst than single layer model

scored **0.77751** with one relu one sigmoid